<!DOCTYPE html>
<html>
<head>
    <title>Shared-Task 1</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>
<div class="container-fluid p-4 bg-dark text-white" style="text-align: center">
    <h1>Terrier</h1>
    <p>Welcome to our argument search engine</p>
</div>

<div class="overview">
    <div id="arg" style="text-align: justify;text-justify: inter-word;">
    </div>
    <hr>
    <footer>
        <p>&copy; Advanced Information Retrieval Internship 2019</p>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="jQueryPlugins/repeatable.js"></script>
<script>
    let searchParams = new URLSearchParams(window.location.search);
    let param = searchParams.get('id');
    socket.emit('docID', param);
    socket.on('doc', function (data) {
        console.log(data);
        let sourceId = data.context.previousArgumentInSourceId;
        let nextId = data.context.nextArgumentInSourceId;
        let s = $('#arg');
        s.append("<b>" + data.premises.stance + ": </b>" +
            "<i>" + data.conclusion + "</i>" +
            "<br><br>" + data.premises.text +
            "<br><br><i>Source: </i>" + data.context.sourceUrl +
            "<br><i>Acquisition Time: </i>" + data.context.acquisitionTime
        );
        if (sourceId !== '') s.append(`<br><a href="/argument?id=${sourceId}">Previous Argument</a>`);
        if (nextId !== '') s.append(`<br><a href="/argument?id=${nextId}">Next Argument</a>`);
    });
</script>
</body>
</html>
