<!DOCTYPE html>
<html>
<head>
    <title>Shared-Task 1</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>
<div class="container-fluid p-4 bg-dark text-white" style="text-align: center">
    <h1>Terrier</h1>
    <p>Welcome to our argument search engine</p>
</div>

<div class="search_field">
    <form id="form_field">
        <div class="input-group">
            <input id="query" type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-secondary search" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="overview">
    <ul id="arguments">
        <div id="arg" style="text-align: justify;text-justify: inter-word;">
            <b>{{this.Stance}}: </b><i>{{this.Title}}</i><br><a>{{this.Body}}</a>
            <hr>
            <p id="docID" style="display:none">{{this.DocumentID}}</p>
        </div>
    </ul>
    <script>
        document.getElementById("arguments").style.display = "none";
    </script>
    <hr>
    <footer>
        <p>&copy; Advanced Information Retrieval Internship 2019</p>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="jQueryPlugins/repeatable.js"></script>
<script>
    $(".search").click(function () {
        socket.emit('query', $('#query').val().replace(/ +/g, '_').replace(/[^a-zA-Z0-9_]/g, ''));
    })
    $("#form_field").submit(function (event) {
        socket.emit('query', $('#query').val().replace(/ +/g, '_').replace(/[^a-zA-Z0-9_]/g, ''));
        event.preventDefault();
    })
    $(function () {
        socket.on('data', function (data) {
            document.getElementById("arguments").style.display = "block"
            var list = $("ul#arguments").repeatable(); // declaring the repeatable
            list.value = data.documents; // that's data population, sic!
        })
    })
</script>
<script>
    let argument;
    let argSelect = $("#arguments");
    argSelect.on("click", "#arg a", function () {
        argument = this.parentElement;
        console.log(argument);
        var docID = jQuery("p", argument).get(0).innerText;
        console.log(docID);
        socket.emit('docID', docID);
    });
    socket.on('doc', function (data) {
        console.log(data);
        let sourceId = data.context.previousArgumentInSourceId;
        let nextId = data.context.nextArgumentInSourceId;
        let s = $("a", argument);
        s.html("<br>" + data.premises.text +
            "<br><br><i>Source: </i>" + data.context.sourceUrl +
            // "<br><i>Source Title: </i>" + data.context.sourceTitle +
            "<br><i>Acquisition Time: </i>" + data.context.acquisitionTime
        );
        if (sourceId !== '') s.append(`<br><a href="/argument?id=${sourceId}" target="_blank">Previous Argument</a>`);
        if (nextId !== '') s.append(`<br><a href="/argument?id=${nextId}" target="_blank">Next Argument</a>`);
    });
    argSelect.on("click", "#arg i", function () {
        $("a", this.parentElement).toggle("slow");
    });
</script>
</body>
</html>
