body {
  padding: 0;
}

/**
 * Styles for wrapping the search box
 * Bootstrap 4 text input with search icon
 */

.search_field {
  width: 50%;
  margin: 50px auto;
}

/**
 * Styles for wrapping the documents returned
 */

.overview {
  width: 80%;
  margin: 50px auto;
}
